:root {
    --dark: #001330;
    --main-color: #3b1c32;
    --sercondery-color: #6a1e55;
    --third-color: #a64d79;
    --paragraph: #a0a6cc;
    --transition: 300ms;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark);
}

a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin: auto;
}
.main-title {
    font-size: 1.5rem;
    color: #ff6b6b;
    font-weight: bolder;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
}
/* Header */
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #132440;
    overflow: hidden;
    box-shadow: 0 0 5px #807d7d;
    padding: 35px;
}
.header .container {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}
.header .logo span {
    background: linear-gradient(90deg, #ff6b6b, #845ef7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .nav-link {
    display: flex;
    gap: 2rem;
}
.header .nav-link a {
    color: var(--paragraph);
    padding: 10px 15px;
    border-radius: 7px;
    transition:
        background-color var(--transition) ease,
        color var(--transition) ease;
}
.header .nav-link a:hover {
    color: white;
    background-color: var(--paragraph);
}
.nav-mode button {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color var(--transition) ease;
}
.nav-mode button:hover {
    background-color: var(--third-color);
}
.nav-mode button i {
    color: white;
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .content {
    max-width: 600px;
}
.hero-title {
    color: white;
    font-size: 3rem;
    letter-spacing: -2px;
}
.hero .content .hero-title span {
    background: linear-gradient(90deg, #ff6b6b, #845ef7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paragraph {
    font-size: 1.2rem;
    color: var(--paragraph);
    margin-bottom: 5rem;
    line-height: 1.4;
    max-width: 600px;
}
.hero .content button {
    padding: 15px;
    border-radius: 7px;
    margin-right: 1rem;
    background: linear-gradient(
        80deg,
        var(--sercondery-color),
        var(--third-color)
    );
    color: white;
    cursor: pointer;
    transition:
        transform var(--transition) ease,
        box-shadow var(--transition) ease;
}
.hero .content button:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0px var(--third-color);
}
.hero img {
    max-width: 400px;
    border-radius: 50%;
    cursor: pointer;
    transition:
        transform var(--transition) ease,
        box-shadow var(--transition) ease;
}
.hero img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px 5px var(--paragraph);
}

/* About */
.about {
    min-height: 90vh;
}
.about .about-content {
    max-width: 600px;
    margin-bottom: 2rem;
}
.title {
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
}
.about .about-content .about-parag {
    color: var(--paragraph);
    font-size: 1.2rem;
    line-height: 1.4;
}
.about .about-content .about-parag span {
    background: linear-gradient(120deg, #ff6b6b, #845ef7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.about .about-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.about .about-box .box {
    background-color: #213352;
    color: white;
    padding: 25px;
    border-radius: 7px;
    transition: all var(--transition) ease;
    outline: 2px solid transparent;
}
.about .about-box .box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px #a07331;
    outline: 2px solid #ff9800;
}
.about .about-box .box i {
    font-size: 2rem;
    transition: color var(--transition) ease;
}
.about .about-box .box:hover i {
    color: #ff9800;
}
.about .about-box .box p {
    color: #ddd;
    font-size: 1.1rem;
    margin-block: 1.2rem;
}

.about .about-box .box div {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Services */
.services {
    min-height: 90vh;
    margin-bottom: 5rem;
}
.services .services-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.services .services-box .box {
    background-color: #213352;
    padding: 35px;
    border-radius: 7px;
    border-bottom: 5px solid transparent;
    transition: all var(--transition) ease;
}
.services .services-box .box:hover {
    transform: scale(1.02) translateX(-5px);
}
.services .services-box .box:nth-child(1):hover {
    box-shadow: 5px 5px 5px #e91e63;
}
.services .services-box .box:nth-child(2):hover {
    box-shadow: 5px 5px 5px #3f51b5;
}
.services .services-box .box:nth-child(3):hover {
    box-shadow: 5px 5px 5px #cddc39;
}
.services .services-box .box:nth-child(4):hover {
    box-shadow: 5px 5px 5px #00bcd4;
}
.services .services-box .box:nth-child(5):hover {
    box-shadow: 5px 5px 5px #ff5722;
}
.services .services-box .box:nth-child(6):hover {
    box-shadow: 5px 5px 5px #9c27b0;
}
.services .services-box .content .box-title {
    color: white;
    margin-block: 1rem;
}
.services .services-box .content .paragraph-box {
    color: var(--paragraph);
    line-height: 1.4;
    font-size: 1rem;
}

/* Contact */
.contact {
    min-height: 90vh;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    gap: 1.2rem;
    text-align: left;
}
form .row-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.frow,
.srow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
form input,
form textarea {
    border: none;
    outline: none;
}

form #text,
form #email,
form select,
form textarea {
    padding: 15px;
    background-color: #151f49;
    border: 1px solid transparent;
    border-radius: 7px;

    color: white;
}
form textarea {
    resize: none;
    height: 12rem;
}
form label {
    color: white;
    font-weight: bold;
}

form #submit {
    padding: 11px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #ff5722;
}
form #submit i {
    margin-right: 7px;
}
